In [1]:
import pandas as pd
import numpy as np

In [2]:
anime = pd.read_csv('anime.csv')

In [3]:
anime.columns

Index(['MAL_ID', 'Name', 'Score', 'Genres', 'English name', 'Japanese name',
       'Type', 'Episodes', 'Aired', 'Premiered', 'Producers', 'Licensors',
       'Studios', 'Source', 'Duration', 'Rating', 'Ranked', 'Popularity',
       'Members', 'Favorites', 'Watching', 'Completed', 'On-Hold', 'Dropped',
       'Plan to Watch', 'Score-10', 'Score-9', 'Score-8', 'Score-7', 'Score-6',
       'Score-5', 'Score-4', 'Score-3', 'Score-2', 'Score-1'],
      dtype='object')

In [4]:
anime['anime_id'] = anime['MAL_ID']

In [5]:
anime = anime[['anime_id','Name','Score','Genres','Type']]

In [6]:
anime

,anime_id,Name,Score,Genres,Type
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Movie
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",TV
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",TV
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",TV
...,...,...,...,...,...
17557,48481,Daomu Biji Zhi Qinling Shen Shu,Unknown,"Adventure, Mystery, Supernatural",ONA
17558,48483,Mieruko-chan,Unknown,"Comedy, Horror, Supernatural",TV
17559,48488,Higurashi no Naku Koro ni Sotsu,Unknown,"Mystery, Dementia, Horror, Psychological, Supe...",TV
17560,48491,Yama no Susume: Next Summit,Unknown,"Adventure, Slice of Life, Comedy",TV
17561,48492,Scarlet Nexus,Unknown,"Action, Fantasy",TV

In [7]:
rating = pd.read_csv('rating_complete.csv')

In [8]:
df = rating.merge(anime,on='anime_id')

In [9]:
df

,user_id,anime_id,rating,Name,Score,Genres,Type
0,0,430,9,Fullmetal Alchemist: The Conqueror of Shamballa,7.57,"Military, Comedy, Historical, Drama, Fantasy, ...",Movie
1,6,430,8,Fullmetal Alchemist: The Conqueror of Shamballa,7.57,"Military, Comedy, Historical, Drama, Fantasy, ...",Movie
2,18,430,10,Fullmetal Alchemist: The Conqueror of Shamballa,7.57,"Military, Comedy, Historical, Drama, Fantasy, ...",Movie
3,19,430,8,Fullmetal Alchemist: The Conqueror of Shamballa,7.57,"Military, Comedy, Historical, Drama, Fantasy, ...",Movie
4,33,430,4,Fullmetal Alchemist: The Conqueror of Shamballa,7.57,"Military, Comedy, Historical, Drama, Fantasy, ...",Movie
...,...,...,...,...,...,...,...
57633273,315549,38853,1,Ex-Arm,2.18,"Action, Sci-Fi, Ecchi, Seinen",TV
57633274,350024,38853,10,Ex-Arm,2.18,"Action, Sci-Fi, Ecchi, Seinen",TV
57633275,311855,39435,6,Oshiri Tantei Movie 1: Curry Naru Jiken,Unknown,"Mystery, Comedy, Kids, Fantasy",Movie
57633276,334473,35746,4,6 Lovers,Unknown,"Comedy, Drama, Romance, School, Shounen Ai, Sl...",OVA
57633277,347134,39627,5,Nan-chan no Koutsuu Anzen,Unknown,Kids,OVA

In [10]:
rated_anime = df.groupby('anime_id').count()['rating'] >= 10000

In [11]:
top_rated = rated_anime[rated_anime].index

In [12]:
dataset = df[df['anime_id'].isin(top_rated)]

In [13]:
np.where(dataset['Name']=='Gintama')

(array([32168165, 32168166, 32168167, ..., 32202488, 32202489, 32202490],
       dtype=int64),)

In [14]:
raters = dataset.groupby('user_id').count()['rating'] >= 500

In [15]:
top_raters = raters[raters].index

In [16]:
data = dataset[dataset['anime_id'].isin(top_rated)]

In [17]:
np.where(data['Name']=="One Punch Man")

(array([5744766, 5744767, 5744768, ..., 5883687, 5883688, 5883689],
       dtype=int64),)

In [18]:
pivot = data.pivot_table(index='Name',columns='user_id',values='rating')

In [19]:
pivot.fillna(0,inplace=True)

In [20]:
pivot

user_id,0,1,2,3,4,5,6,7,8,10,...,353392,353393,353395,353396,353398,353400,353401,353402,353403,353404
Name,,,,,,,,,,,,,,,,,,,,,
.hack//Sign,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
07-Ghost,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11eyes,0.0,0.0,0.0,0.0,0.0,0.0,7.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
3-gatsu no Lion,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,7.0,0.0,0.0,0.0,0.0,0.0
3-gatsu no Lion 2nd Season,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,10.0,9.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ef: A Tale of Memories.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xxxHOLiC,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0
xxxHOLiC Kei,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xxxHOLiC Movie: Manatsu no Yoru no Yume,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xxxHOLiC Shunmuki,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
similarity_scores = cosine_similarity(pivot)

In [23]:
np.where(pivot.index=='Gintama')[0][0]

442

In [24]:
def recommend(anime_name):
    index = np.where(pivot.index==anime_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:11]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = anime[anime['Name'] == pivot.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Name')['Name'].values))
        item.extend(list(temp_df.drop_duplicates('Name')['Genres'].values))
        item.extend(list(temp_df.drop_duplicates('Name')['Score'].values))
        item.extend(list(temp_df.drop_duplicates('Name')['Type'].values))
        
        data.append(item)
    
    return data

In [25]:
recommend('One Punch Man')

[['Boku no Hero Academia',
  'Action, Comedy, School, Shounen, Super Power',
  '8.11',
  'TV'],
 ['Shingeki no Kyojin',
  'Action, Military, Mystery, Super Power, Drama, Fantasy, Shounen',
  '8.48',
  'TV'],
 ['Boku no Hero Academia 2nd Season',
  'Action, Comedy, Super Power, School, Shounen',
  '8.33',
  'TV'],
 ['No Game No Life',
  'Game, Adventure, Comedy, Supernatural, Ecchi, Fantasy',
  '8.2',
  'TV'],
 ['Tokyo Ghoul',
  'Action, Mystery, Horror, Psychological, Supernatural, Drama, Seinen',
  '7.81',
  'TV'],
 ['Mob Psycho 100',
  'Action, Slice of Life, Comedy, Supernatural',
  '8.49',
  'TV'],
 ['Re:Zero kara Hajimeru Isekai Seikatsu',
  'Psychological, Drama, Thriller, Fantasy',
  '8.29',
  'TV'],
 ['Shingeki no Kyojin Season 2',
  'Action, Military, Mystery, Super Power, Drama, Fantasy, Shounen',
  '8.45',
  'TV'],
 ['Kono Subarashii Sekai ni Shukufuku wo!',
  'Adventure, Comedy, Fantasy, Magic, Parody, Supernatural',
  '8.15',
  'TV'],
 ['Kimi no Na wa.', 'Romance, Supernatural, School, Drama', '8.96', 'Movie']]

In [26]:
import pickle

In [30]:
pickle.dump(similarity_scores,open('simscore.pickle','wb'))

In [31]:
pickle.dump(pivot,open('pivotTab.pickle','wb'))

In [32]:
pickle.dump(anime,open('collabanimeDf.pickle','wb'))